<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>게시판</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
</head>

<body>
    {% from "_formhelpers.html" import render_field %}
    <!-- Navbar-->
    <div class="navbar navbar-default navbar-fixed-top"></div>
    <div class="container" style="padding:80px 0 0 0">
        <!-- Main -->
        <div class="jumbotron">
            <p>게시판 샘플 애플리케이션을 시작합니다.</p>
            <p><a class="btn btn-primary btn-lg" href={{ url_for( 'messages') }}>Start</a></p>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>

</html>
